**/IdeSrc/
**/Docs/
**/Programs/WebApp.log
**/.vscode/
**/AppSrc/*.dep
**/AppSrc/*.prn
**/AppSrc/WebApp.cfg
**/Programs/*.dbg
**/Programs/*.exe
**/Programs/*.exe.manifest
**/Data/DFConnId.ini
**/Data/reindex.log
**/DfPkg/

**/AppHtml/DfEngine
**/AppHtml/CssThemes/Df_*
df-package-manager-admin-panel/AppHtml/WebUI
df-package-manager-admin-panel/AppHtml/RichTextEditor
df-package-manager-server/AppHtml/WebUI
